header {
    background: url("../images/img/bg-header.png") no-repeat;
    background-position: center;
    background-size: cover;

    .navbar {
        @include dFlex;
        background: rgba(0, 0, 0, 0.4);
        margin-bottom: 100px;

        &__contact {
            @include dFlex;
            padding-left: 30px;
            padding: 33px 0 33px 30px;

            gap: 50px;

            &-links {
                display: flex;
                gap: 10px;
            }

            &-phone {
                display: flex;
                gap: 15px;
                align-items: center;
            }
        }

        .navigation {
            @include dFlex;
            height: 100%;
            gap: 50px;

            &_list {
                padding: 33px 0;
            }

            &_list ul {
                @include dFlex;
                gap: 30px;

                li a {
                    color: rgb(243, 243, 243);
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                    letter-spacing: 0%;
                    padding: 6px 4px;
                    transition: all 0.3s ease;
                }

                li a:hover {
                    opacity: 0.5;
                }

                li select {
                    background: transparent;
                    border: none;
                    outline: none;
                    color: rgb(243, 243, 243);
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                    letter-spacing: 0%;

                    option {
                        background: rgba(0, 0, 0, 0.3);
                        color: #000;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 22px;
                        letter-spacing: 0%;
                    }
                }

                li select:hover {
                    opacity: 0.5;
                }
            }

            .header__button {
                border: none;
                cursor: pointer;
                background: rgb(106, 54, 156);
                padding: 41px 30px;
                color: rgb(243, 243, 243);
                font-size: 18px;
                font-weight: 500;
                transition: all 0.3s ease;
            }

            .header__button:hover {
                background: #fff;
                color: #000;
            }
        }
    }

    .hero {
        &__title {
            width: 50%;

            h1 {
                color: rgb(243, 243, 243);
                font-size: 56px;
                font-weight: 800;
                line-height: 68px;
                margin-bottom: 30px;
            }

            p {
                text-wrap: balance;
                margin-bottom: 40px;
            }

            .hero-btn {
                @include dFlex(flex-start);
                gap: 20px;
                margin-bottom: 100px;

                button {
                    border: 2px solid $primaryColor;
                    background: transparent;
                    padding: 10px 30px;
                    font-size: 20px;
                    font-weight: 600;
                    transition: all 1s ease;
                }

                button:hover {
                    color: #000;
                    background: #fff;
                }
            }
        }

        &__info {
            p {
                color: $primaryColor;
                font-size: 24px;
                font-weight: 700;
                line-height: 29px;
                margin-bottom: 30px;
            }

            &-content {
                @include dFlex(flex-start);
                gap: 50px;
                margin-bottom: 30px;

                p {
                    color: rgb(4, 255, 20);
                    margin-bottom: 10px;
                }
            }

            .last-years {
                padding-bottom: 322px;

                img {
                    margin-bottom: 10px;
                }

                .years {
                    @include dFlex(flex-start);
                    margin-left: -10px;
                    gap: 67px;
                }
            }
        }
    }
}


@media (max-width: 1500px) {
    
}
