* {
    margin: 0;
    padding: 0;
    font-style: normal;
    box-sizing: border-box;
    font-family: "Montserrat";
    color: #fff;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}



@media (max-width: 1500px) {
    .wrapper {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 50px;
    }
}


@media (max-width: 1152px) {
    .wrapper {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        padding: 0 46px;
    }
}


@media (max-width: 768px) {
    .wrapper {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
        padding: 0 34px;
    }
}

@media (max-width: 376px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
    }
}
